.item {
  border: 1.5px solid black;
  border-radius: 8px;
  width: 110px;
}

.image {
  margin-top: 10px;
}

.name {
  margin: 0px;
}

.online {
  color: rgb(125, 221, 125);
}

.offline {
  color: rgb(236, 96, 96);
}
